<!DOCTYPE html>
<head>

</head>

<body>
    <h1> รายละเอียดสินค้า </h1>
        <h3>
           <a href="/products/<%=product.id%>"> <%=product.productTitle %></a>       
        </h3>
        <p>
          <%=product.productDescription%> ราคา : <%=product.productPrice%> บาท         
        </p>
</body>
</html>
