<!DOCTYPE html>
<head>

</head>

<body>
    <h1> สินค้าทั้งหมด </h1>
    <% products.map((product)=>{%>
        <h3>
           <a href="/products/<%=product.id%>"> <%=product.productTitle %></a>     
        </h3>
        <p>
          <%=product.productDescription%> ราคา : <%=product.productPrice%> บาท
          <%})%>
        </p>
</body>
</html>
